<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,440},{72,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,123},{143,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{143,73}}</string>
                <key>sourceSize</key>
                <string>{145,75}</string>
            </dict>
            <key>cat_awake.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,307},{117,155}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{117,155}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_curlup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,196},{141,111}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{141,111}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_curlup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{141,95}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,60},{141,95}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_curlup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,307},{133,131}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{133,131}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_sleepy.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{123,145}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{123,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>catbed_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{364,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{364,108}}</string>
                <key>sourceSize</key>
                <string>{378,116}</string>
            </dict>
            <key>catbed_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{366,96}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{366,96}}</string>
                <key>sourceSize</key>
                <string>{378,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>catnap-hd.png</string>
        </dict>
    </dict>
</plist>
